.float {
	float: left;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	position: relative;
}

img {
	position: relative;
}

.result {
	width: 200px;
	height: 200px;
	text-align: center;
	box-sizing: border-box;
}


#file_input {
	display: none;
}


.delete {
	width: 44px;
	height: 24px;
	position: absolute;
	text-align: center;
	line-height: 24px;
	z-index: 10;
	font-size: 16px;
	color: #333;
	background-color: rgba(255, 255, 255, 0.6);
	opacity: 0.4;
	right: 0;
	top: 0;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}


.delete:hover {
	cursor: pointer;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.8);
}
